:root {
  --bg-primary-color: #f6f8fc;
  --bg-pokemon-color: #49d0b0;
  --bg-type-color: #61e1ca;
  --text-color-black: #000;
  --text-color-white: #fff;
}
.header {
  margin-top: 1rem;
  padding: 1rem 1rem 0;
}
.header a {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-color-black);
  text-decoration: none;
}
.content {
  max-width: 1024px;
  margin: 0 auto;
}
.pokemons {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  list-style: none;
}
.pokemon {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
  background: var(--bg-pokemon-color);
  color: var(--text-color-white);
}
.pokemon .number {
  color: var(--text-color-black);
  opacity: 0.3;
  text-align: right;
  font-size: 0.625rem;
}
.pokemon .name {
  margin-bottom: 0.25rem;
}
.pokemon .detail {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.pokemon .types {
  list-style: none;
}
.pokemon .types .type {
  background: var(--bg-type-color);
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0;
  font-size: 0.625rem;
  border-radius: 1rem;
}
.pokemon .detail img {
  max-width: 100%;
  height: 70px;
}
/* @media screen and (max-width: 1440px) {
  .content {
    max-width: 90%;
    margin: 0 auto;
  }
  .content .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  } 
} */
@media screen and (max-width: 992px) {
  .content .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .content .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 576px) {
  .content .pokemons {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 380px) {
  .content .pokemons {
    grid-template-columns: 1fr;
  }
}
